@model IEnumerable<Do_An_Tot_Nghiep.Models.XepHang>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiemNangLuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BacXepHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiDung)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiemNangLuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BacXepHang.BacXepHangId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiDung.NguoiDungId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.XepHangId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.XepHangId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.XepHangId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
