@model Do_An_Tot_Nghiep.Models.NguoiDung

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NguoiDung</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoVaTen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoVaTen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QueQuan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QueQuan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TruongHoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TruongHoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Avatar)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NguoiDungId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
