@model IEnumerable<Do_An_Tot_Nghiep.Models.NguoiDung>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoVaTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaySinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GioiTinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QueQuan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TruongHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avatar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoVaTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QueQuan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TruongHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avatar)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NguoiDungId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NguoiDungId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NguoiDungId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
