@model Do_An_Tot_Nghiep.Models.TaiKhoan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TaiKhoan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenDangNhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDangNhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatKhau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NguoiDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguoiDung.NguoiDungId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhanQuyen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhanQuyen.PhanQuyenId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TaiKhoanId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
