@model Do_An_Tot_Nghiep.Models.ChuongNgaiVat

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ChuongNgaiVat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoKyTu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoKyTu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DapAn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DapAn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ChuongNgaiVatId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
