@model IEnumerable<Do_An_Tot_Nghiep.Models.BacXepHang>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BacHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anh)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BacHang)
            </td>
            <td>
                @if (item.Anh != null && item.Anh.Length > 0)
                {
                    <img src="@Url.Content($"data:image/png;base64,{Convert.ToBase64String(item.Anh)}")" style="width: 150px; height: 150px;" />
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BacXepHangId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BacXepHangId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BacXepHangId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
