@model Do_An_Tot_Nghiep.Models.PhongCho

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PhongCho</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongNguoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongNguoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianLap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianLap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NguoiDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguoiDung.NguoiDungId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PhongChoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
